  *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    
    padding: 2%;
    width: 80%;
    margin: 0 auto;
  }
  .text-center{
    text-align: center;
  }
  .clearfix{
    float: none;
    clear:both;
  }
  
  .footer{
    background-color: #00a8ff;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 80px;
  }

  .menu {
    text-align: center;
    background-color: #00a8ff ;
    border-bottom: 1px solid maroon;
  }
  .menu ul {
  list-style: none;  
  
  }
  .menu ul li {
    display: inline;
    padding: 1%;
  }
  .menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #2a2a2a;
    font-size: 20px;
  }
  .menu ul li a:hover{
    color:#ffffff;
  }

  .main{
   margin: 1% 0%; 
   background-color: #f1f2f6;
  }
  .col4{
    width: 17%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
  }
  .tblfull{
    width:80% ;
  }
  table tr th{
    border-bottom: 1px solid grey;
    padding: 1%;
    text-align: left ;
  }
  table tr td{
    padding: 1%;
  }


  .primarybtn
   {
    background-color:#00a8ff ;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.primarybtn:hover 
{
  background-color: #3742fa;
}


.updatebtn {
  background-color:green ;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
}
.updatebtn:hover {
background-color: #3742fa;
}

.deletebtn {
  background-color:red ;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
}
.deletebtn:hover {
background-color: #3742fa;
}

.approvebtn {
  background-color:green ;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
}
.approvebtn:hover {
background-color: #3742fa;
}

.rejectbtn {
  background-color:red ;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
}
.rejectbtn:hover {
background-color: #3742fa;
}

/* login form css */
body {
  background-color:#f1f2f6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
