body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  form {border: 0px solid #f1f1f1;}
  
  input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  
  button {
  margin-left: 150px;
  margin-top :8px;
  background-color: #000000aa;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  }
  
  button:hover {
  opacity: 0.8;
  }
  
  .imgcontainer {
  margin: auto;
  width: 30%;
  /* height: 200px; */
  }
  
  img.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  }
  
  .container {
  padding: 16px;
  width: 70%;
padding-left: 15%;
  }
  
  span.psw {
  float: right;
  padding-top: 16px;
  }
  .login_form{
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: rgba(71, 71, 71, 0.366);
  }